div.banner{
    overflow-x: clip;
    overflow-y: visible;
}
.header-img{
    width: 103%;
    transform: rotate(1deg);
    margin-top: -15px;
    z-index: 1;
    position: relative;
    height: 312px;
    object-fit: cover;
}
header.header{
    display: flex;
    justify-content: space-around;
    color: #ddd;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #333;
    z-index: 15;
}
.header-cart{
    cursor: pointer;
    width: 196px;
    height: 50px;
    background: #272727;
    border: none;
    border-radius: 35px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    color: #eee;
}
.header-cart:hover{
    background: #444444;
}
.cart-icon{
    width: 25px;
    height: 25px;
}
span.badg{
    background: #585858;
    padding: 5px;
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-color{
    color: #a4fdf7;
}
.main{
    display: flex;
    flex-direction: column;
    width: 75%;
    flex-wrap: nowrap;
    margin: auto;
    position: relative;
}
.meal-summary{
    border: 15px solid #6a6a6a;
    background: #4b4b4b;
    padding: 15px;
    border-radius: 35px;
    z-index: 5;
    color: #e2e2e2;
    box-shadow: 0 0 8px 0px #222222;
    width: 90%;
    margin: -15% auto 12px;
}
.meal-summary:hover{
    box-shadow: 0 0 8px 0px #373737;
    background: #555;
}
.meal-summary p{
    font-size: 0.8rem;
}
.meal-item *{
    margin: 0;
}
.meal-item h3{
    font-size: 1rem;
    font-weight: 600;
}
.meal-item .description{
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 300;
}
.meal-item .price{
    font-size: .9rem;
    font-weight: 600;
    color: #3d83d1;
}
.card{
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    border-radius: 14px;
    background-color: white;
}
.card ul{
    list-style: none;
    padding: 0;
}
.card ul li{
    border-bottom: 1px solid rgba(162, 162, 162, 0.5);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.card ul li:last-child{
    border: none;
}
.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    opacity: 0.6;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 60%;
    background-color: #eee;
    position: fixed;
    z-index: 40;
    margin: auto;
    top: 0;
    bottom: 0;
    height: fit-content;
    right: 0;
    left: 0;
    border-radius: 35px;
    padding: 25px;
}
.modal ul{
    list-style: none;
    padding: 0;
    max-height: 52vh;
    overflow-y: auto;
}
.modal .total{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.modal .modal-footer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
button.primary{
    cursor: pointer;
    border-radius: 20px;
    color: #eaeaea;
    background-color: #3d83d1;
    padding: 10px 25px;
    font-size: 1rem;
    border: 0;
    box-shadow: 0 0 7px 2px rgb(25 89 189 / 50%);
}
button.primary:hover{
    background-color: #296bb6;
}
button.secondary{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: 1rem;
    border: 1px solid #3d83d1;
    color: #3d83d1;
}
button.secondary:hover{
    color: #eaeaea;
    background-color: #5498e6;
}
.cart-items{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid rgba(119, 119, 119,0.5);
}
.cart-items h4{
    margin: 5px;
}
.cart-items-buttons{
    display: flex;
    gap: 15px;
}
.cart-items-buttons button{
    
    font-weight: bold;
    border: 1px solid rgba(119, 119, 119,0.5);
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
}
.cart-items .amount{
    font-weight: 100;
    padding: 5px 10px;
    background: #fff;
    margin: 0 15px;
    font-size: smaller;
    border: 1px solid rgba(119, 119, 119,0.5);
    border-radius: 20px;
}
.cart-items-price-amount{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}
.bump{
    animation: bump 300ms ease-out;
}
@keyframes bump{
    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(0.9);
    }
    30%{
        transform: scale(1.09);
    }
    50%{
        transform: scale(1.06);
    }
    70%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1);
    }
}
@media only screen and (max-width: 600px) {
    .header-cart {
      width: 90px;
    }
    .cart-text{
        display: none;
    }
  }